body {
      margin: 0;
      font-family: 'Open Sans' sans-serif;
   
    }

    header {
      background-color: #f5f0e6;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
    }

    header img {
      height: 30px;
    }

    .donate-btn {
      background-color: #c1704f;
      color: white;
      padding: 0.7rem 1.2rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }

    .hero {
      display: flex;
      height: 60vh;
      flex-wrap: wrap;
    }

    .hero-text {
      flex: 1;
      background-color: #003366;
      color: white;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .hero-text h1 {
      font-size: 2.5rem;
      font-family: 'Merriweather', serif;
      margin: 0.5rem 0 2rem;
      font-weight: bold;
    }

    .hero-text p {
      margin: 0 0 3rem;
      font-size: 1.2rem;
      line-height: 1.5;
    }

    .cta-btn {
      background-color: #c1704f;
      color: white;
      padding: 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      width: fit-content;
    }

    .hero-image {
      flex: 1;
      min-height: 400px;
      background: url(img/charitywater.jpg) center/cover no-repeat;
    }

     .mission {
      padding: 3rem 2rem;
      text-align: center;
      background-color: #ffffff;
      color: #333;
    }

    .mission h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #003366;
    }

    .mission p {
      max-width: 700px;
      margin: 0 auto;
      font-size: 1.1rem;
      line-height: 1.6;
    }
    
    .footer-note {
      font-size: 0.9rem;
      color: #555;
      text-align: center;
      padding: 1rem;
      background-color: #f9f9f9;
    }